src/main/resources/wsdl/WinRM.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<wsdl:definitions 
	name="WinRMWebServiceClient" 
	targetNamespace="http://schemas.dmtf.org/wbem/wsman/1/wsman.xsd" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"  
	xmlns:tns="http://schemas.dmtf.org/wbem/wsman/1/wsman.xsd" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
	xmlns:wsen="http://schemas.xmlsoap.org/ws/2004/09/enumeration" 
	xmlns:wshl="http://schemas.microsoft.com/wbem/wsman/1/windows/shell" 
	xmlns:wst="http://schemas.xmlsoap.org/ws/2004/09/transfer" 
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">

	<wsdl:types>

		<xs:schema 
			targetNamespace="http://schemas.xmlsoap.org/ws/2004/09/enumeration" 
			version="1.0" 
			elementFormDefault="qualified" 
			xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:import namespace="http://schemas.xmlsoap.org/ws/2004/09/enumeration" schemaLocation="http://schemas.dmtf.org/wbem/wsman/1/dsp8033_1.0.xsd"/>
			<xs:import namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing" schemaLocation="http://schemas.dmtf.org/wbem/wsman/1/dsp8034_1.0.xsd"/>
			<xs:import namespace="http://schemas.dmtf.org/wbem/wsman/1/wsman.xsd"/>
		</xs:schema>

		<xs:schema 
			targetNamespace="http://schemas.microsoft.com/wbem/wsman/1/windows/shell" 
			elementFormDefault="qualified" 
			version="1.0" 
			xmlns:tns="http://schemas.microsoft.com/wbem/wsman/1/windows/shell" 
			xmlns:xs="http://www.w3.org/2001/XMLSchema" 
			xmlns:ns1="http://schemas.dmtf.org/wbem/wsman/1/wsman.xsd">
			<xs:import namespace="http://schemas.dmtf.org/wbem/wsman/1/wsman.xsd"/>
			<xs:element name="Code" type="xs:string"/>
			<xs:element name="CommandId" type="xs:string"/>
			<xs:element name="CommandLine" type="tns:CommandLine"/>
			<xs:element name="Receive" nillable="true" type="tns:Receive"/>
			<xs:element name="ReceiveResponse" nillable="true" type="tns:ReceiveResponse"/>
			<xs:element name="Shell" nillable="true" type="tns:Shell"/>
			<xs:element name="Signal" nillable="true" type="ns1:Signal"/>
			<xs:complexType name="Shell">
				<xs:sequence>
					<xs:element name="ShellId" type="xs:anyURI" minOccurs="0"/>
					<xs:element name="Environment" type="tns:EnvironmentVariableList" minOccurs="0"/>
					<xs:element name="WorkingDirectory" type="xs:string" minOccurs="0"/>
					<xs:element name="Lifetime" type="xs:duration" minOccurs="0"/>
					<xs:element name="IdleTimeout" type="xs:duration" minOccurs="0"/>
					<xs:element name="InputStreams" minOccurs="0">
						<xs:simpleType>
							<xs:list itemType="xs:string"/>
						</xs:simpleType>
					</xs:element>
					<xs:element name="OutputStreams" minOccurs="0">
						<xs:simpleType>
							<xs:list itemType="xs:string"/>
						</xs:simpleType>
					</xs:element>
					<xs:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="EnvironmentVariableList">
				<xs:sequence>
					<xs:element name="Variable" type="tns:EnvironmentVariable" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="EnvironmentVariable">
				<xs:simpleContent>
					<xs:extension base="xs:string">
						<xs:attribute name="Name" type="xs:string" use="required"/>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:complexType name="CommandLine">
				<xs:sequence>
					<xs:element name="Command" type="xs:string" minOccurs="0"/>
					<xs:element name="Arguments" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Receive">
				<xs:sequence>
					<xs:element name="DesiredStream" type="tns:DesiredStreamType"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="DesiredStreamType">
				<xs:simpleContent>
					<xs:extension base="xs:string">
						<xs:attribute ref="tns:CommandId"/>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:complexType name="ReceiveResponse">
				<xs:sequence>
					<xs:element name="Stream" type="tns:StreamType" maxOccurs="unbounded"/>
					<xs:element name="CommandState" type="tns:CommandStateType" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute ref="tns:SequenceID"/>
			</xs:complexType>
			<xs:complexType name="StreamType">
				<xs:simpleContent>
					<xs:extension base="xs:base64Binary">
						<xs:attribute name="Name" type="xs:string" use="required"/>
						<xs:attribute name="CommandId" type="xs:string"/>
						<xs:attribute name="End" type="xs:boolean"/>
						<xs:attribute name="Unit" type="xs:anyURI"/>
						<xs:attribute name="EndUnit" type="xs:boolean"/>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:complexType name="CommandStateType">
				<xs:sequence>
					<xs:element name="ExitCode" type="xs:integer" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="CommandId" type="xs:string" use="required"/>
				<xs:attribute name="State" type="xs:string"/>
			</xs:complexType>
			<xs:attribute name="CommandId" type="xs:string"/>
			<xs:attribute name="SequenceID" type="xs:unsignedLong"/>
		</xs:schema>
		<xs:schema 
			targetNamespace="http://schemas.dmtf.org/wbem/wsman/1/wsman.xsd" 
			elementFormDefault="qualified" 
			version="1.0" 
			xmlns:xs="http://www.w3.org/2001/XMLSchema" 
			xmlns:ns2="http://schemas.microsoft.com/wbem/wsman/1/windows/shell">
			<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
			<xs:import namespace="http://schemas.microsoft.com/wbem/wsman/1/windows/shell"/>
			<xs:element name="CommandResponse" type="tns:CommandResponse"/>
			<xs:element name="Delete" type="tns:Delete"/>
			<xs:element name="Locale" nillable="true" type="tns:Locale"/>
			<xs:element name="MaxEnvelopeSize" type="xs:int"/>
			<xs:element name="OperationTimeout" nillable="true" type="xs:string"/>
			<xs:element name="OptionSet" nillable="true" type="tns:OptionSetType"/>
			<xs:element name="ResourceURI" nillable="true" type="xs:string"/>
			<xs:element name="SelectorSet" nillable="true" type="tns:SelectorSetType"/>
			<xs:element name="SignalResponse" nillable="true" type="tns:SignalResponse"/>
			<xs:element name="SessionId" nillable="true" type="xs:string"/>
			<xs:complexType name="Locale">
				<xs:sequence/>
				<xs:attribute ref="xml:lang"/>
			</xs:complexType>
			<xs:complexType name="anyListType">
				<xs:sequence>
					<xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
				</xs:sequence>
			<xs:anyAttribute namespace="##other" processContents="lax"/>
			</xs:complexType>
			<xs:complexType name="attributableURI">
				<xs:simpleContent>
					<xs:extension base="xs:anyURI">
						<xs:anyAttribute namespace="##other" processContents="lax"/>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:complexType name="mixedDataType">
				<xs:complexContent mixed="true">
					<xs:restriction base="xs:anyType">
						<xs:sequence>
							<xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
						</xs:sequence>
						<xs:anyAttribute namespace="##other" processContents="lax"/>
					</xs:restriction>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="OptionSetType">
				<xs:sequence>
					<xs:element name="Option" type="tns:OptionType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:anyAttribute namespace="##other" processContents="skip"/>
			</xs:complexType>
			<xs:complexType name="OptionType">
				<xs:simpleContent>
					<xs:extension base="xs:string">
						<xs:attribute name="Name" type="xs:token" use="required"/>
						<xs:attribute name="MustComply" type="xs:boolean"/>
						<xs:attribute name="Type" type="xs:QName"/>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:complexType name="SelectorSetType">
				<xs:sequence>
					<xs:element name="Selector" type="tns:SelectorType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:anyAttribute namespace="##other" processContents="skip"/>
			</xs:complexType>
			<xs:complexType name="SelectorType" mixed="true">
				<xs:sequence>
					<xs:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="Name" type="xs:token" use="required"/>
				<xs:anyAttribute namespace="##other" processContents="skip"/>
			</xs:complexType>
			<xs:complexType name="CommandResponse">
				<xs:sequence>
					<xs:element ref="ns2:CommandId" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Signal">
				<xs:sequence>
					<xs:element ref="ns2:Code"/>
				</xs:sequence>
				<xs:attribute name="CommandId" type="xs:string"/>
			</xs:complexType>
			<xs:complexType name="SignalResponse">
				<xs:sequence>
					<xs:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Delete">
				<xs:sequence/>
			</xs:complexType>
			<xs:complexType name="items">
				<xs:sequence>
					<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema 
		targetNamespace="http://schemas.xmlsoap.org/ws/2004/09/transfer" 
		version="1.0" 
		xmlns:tns="http://schemas.xmlsoap.org/ws/2004/09/transfer" 
		xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="ResourceCreated" nillable="true" type="tns:ResourceCreated"/>
			<xs:complexType name="ResourceCreated">
				<xs:sequence>
					<xs:any processContents="skip" namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>

	</wsdl:types>

	<wsdl:message name="Signal">
		<wsdl:part name="Signal" element="wshl:Signal"/>
		<wsdl:part name="ResourceURI" element="tns:ResourceURI"/>
		<wsdl:part name="MaxEnvelopeSize" element="tns:MaxEnvelopeSize"/>
		<wsdl:part name="OperationTimeout" element="tns:OperationTimeout"/>
		<wsdl:part name="Locale" element="tns:Locale"/>
		<wsdl:part name="SelectorSet" element="tns:SelectorSet"/>
	</wsdl:message>
	<wsdl:message name="SignalResponse">
		<wsdl:part name="SignalResponse" element="tns:SignalResponse"/>
	</wsdl:message>
	<wsdl:message name="Receive">
		<wsdl:part name="Receive" element="wshl:Receive"/>
		<wsdl:part name="ResourceURI" element="tns:ResourceURI"/>
		<wsdl:part name="MaxEnvelopeSize" element="tns:MaxEnvelopeSize"/>
		<wsdl:part name="OperationTimeout" element="tns:OperationTimeout"/>
		<wsdl:part name="Locale" element="tns:Locale"/>
		<wsdl:part name="SelectorSet" element="tns:SelectorSet"/>
	</wsdl:message>
	<wsdl:message name="ReceiveResponse">
		<wsdl:part name="ReceiveResponse" element="wshl:ReceiveResponse"/>
	</wsdl:message>
	<wsdl:message name="Delete">
		<wsdl:part name="parameters" element="tns:Delete"/>
		<wsdl:part name="ResourceURI" element="tns:ResourceURI"/>
		<wsdl:part name="MaxEnvelopeSize" element="tns:MaxEnvelopeSize"/>
		<wsdl:part name="OperationTimeout" element="tns:OperationTimeout"/>
		<wsdl:part name="Locale" element="tns:Locale"/>
		<wsdl:part name="SelectorSet" element="tns:SelectorSet"/>
	</wsdl:message>
	<wsdl:message name="DeleteResponse"/>
	<wsdl:message name="Create">
		<wsdl:part name="Shell" element="wshl:Shell"/>
		<wsdl:part name="ResourceURI" element="tns:ResourceURI"/>
		<wsdl:part name="MaxEnvelopeSize" element="tns:MaxEnvelopeSize"/>
		<wsdl:part name="OperationTimeout" element="tns:OperationTimeout"/>
		<wsdl:part name="Locale" element="tns:Locale"/>
		<wsdl:part name="OptionSet" element="tns:OptionSet"/>
	</wsdl:message>
	<wsdl:message name="ResourceCreated">
		<wsdl:part name="ResourceCreated" element="wst:ResourceCreated"/>
	</wsdl:message>
	<wsdl:message name="Command">
		<wsdl:part name="Body" element="wshl:CommandLine"/>
		<wsdl:part name="ResourceURI" element="tns:ResourceURI"/>
		<wsdl:part name="MaxEnvelopeSize" element="tns:MaxEnvelopeSize"/>
		<wsdl:part name="OperationTimeout" element="tns:OperationTimeout"/>
		<wsdl:part name="Locale" element="tns:Locale"/>
		<wsdl:part name="SelectorSet" element="tns:SelectorSet"/>
		<wsdl:part name="OptionSet" element="tns:OptionSet"/>
	</wsdl:message>
	<wsdl:message name="CommandResponse">
		<wsdl:part name="Result" element="tns:CommandResponse"/>
	</wsdl:message>
	<wsdl:message name="Enumerate">
		<wsdl:part name="Body" element="wsen:Enumerate"/>
	</wsdl:message>
	<wsdl:message name="EnumerateResponse">
		<!-- <wsdl:part name="EnumerateResponse" element="wsen:EnumerateResponse"/> -->
		<wsdl:part name="Body" element="wsen:EnumerateResponse"/>
	</wsdl:message>
	<wsdl:message name="Pull">
		<wsdl:part name="Body" element="wsen:Pull" />
	</wsdl:message>
	<wsdl:message name="PullResponse">
		<!-- <wsdl:part name="PullResponse" element="wsen:PullResponse" /> -->
		<wsdl:part name="Body" element="wsen:PullResponse" />
	</wsdl:message>


	<wsdl:portType name="WinRMWebService">
		<wsdl:operation name="Signal" parameterOrder="Signal ResourceURI MaxEnvelopeSize OperationTimeout Locale SelectorSet">
			<wsdl:input name="Signal"
			wsam:Action="http://schemas.microsoft.com/wbem/wsman/1/windows/shell/Signal" 
			wsaw:Action="http://schemas.microsoft.com/wbem/wsman/1/windows/shell/Signal" 
			message="tns:Signal"/>
			<wsdl:output name="SignalResponse"
			wsam:Action="http://schemas.microsoft.com/wbem/wsman/1/windows/shell/SignalResponse" 
			wsaw:Action="http://schemas.microsoft.com/wbem/wsman/1/windows/shell/SignalResponse" 
			message="tns:SignalResponse"/>
		</wsdl:operation>
		<wsdl:operation name="Receive" parameterOrder="Receive ResourceURI MaxEnvelopeSize OperationTimeout Locale SelectorSet">
			<wsdl:input name="Receive"
			wsam:Action="http://schemas.microsoft.com/wbem/wsman/1/windows/shell/Receive" 
			wsaw:Action="http://schemas.microsoft.com/wbem/wsman/1/windows/shell/Receive" 
			message="tns:Receive"/>
			<wsdl:output name="ReceiveResponse"
			wsam:Action="http://schemas.microsoft.com/wbem/wsman/1/windows/shell/ReceiveResponse" 
			wsaw:Action="http://schemas.microsoft.com/wbem/wsman/1/windows/shell/ReceiveResponse" 
			message="tns:ReceiveResponse"/>
		</wsdl:operation>
		<wsdl:operation name="Delete" parameterOrder="parameters ResourceURI MaxEnvelopeSize OperationTimeout Locale SelectorSet">
			<wsdl:input name="Delete"
			wsam:Action="http://schemas.xmlsoap.org/ws/2004/09/transfer/Delete" 
			wsaw:Action="http://schemas.xmlsoap.org/ws/2004/09/transfer/Delete" 
			message="tns:Delete"/>
			<wsdl:output name="DeleteResponse"
			wsam:Action="http://schemas.xmlsoap.org/ws/2004/09/transfer/DeleteResponse" 
			wsaw:Action="http://schemas.xmlsoap.org/ws/2004/09/transfer/DeleteResponse" 
			message="tns:DeleteResponse"/>
		</wsdl:operation>
		<wsdl:operation name="Create" parameterOrder="Shell ResourceURI MaxEnvelopeSize OperationTimeout Locale OptionSet">
			<wsdl:input name="Create"
			wsam:Action="http://schemas.xmlsoap.org/ws/2004/09/transfer/Create" 
			wsaw:Action="http://schemas.xmlsoap.org/ws/2004/09/transfer/Create" 
			message="tns:Create"/>
			<wsdl:output name="CreateResponse"
			wsam:Action="http://schemas.xmlsoap.org/ws/2004/09/transfer/CreateResponse" 
			wsaw:Action="http://schemas.xmlsoap.org/ws/2004/09/transfer/CreateResponse" 
			message="tns:ResourceCreated"/>
		</wsdl:operation>
		<wsdl:operation name="Command" parameterOrder="Body ResourceURI MaxEnvelopeSize OperationTimeout Locale SelectorSet OptionSet">
			<wsdl:input name="Command"
			wsam:Action="http://schemas.microsoft.com/wbem/wsman/1/windows/shell/Command" 
			wsaw:Action="http://schemas.microsoft.com/wbem/wsman/1/windows/shell/Command" 
			message="tns:Command"/>
			<wsdl:output name="CommandResponse"
			wsam:Action="http://schemas.microsoft.com/wbem/wsman/1/windows/shell/CommandResponse" 
			wsaw:Action="http://schemas.microsoft.com/wbem/wsman/1/windows/shell/CommandResponse" 
			message="tns:CommandResponse"/>
		</wsdl:operation>
		<wsdl:operation name="Enumerate">
			<wsdl:input name="Enumerate"
			wsam:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/Enumerate" 
			wsaw:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/Enumerate" 
			message="tns:Enumerate"/>
			<wsdl:output name="EnumerateResponse"
			wsam:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/EnumerateResponse" 
			wsaw:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/EnumerateResponse" 
			message="tns:EnumerateResponse"/>
		</wsdl:operation>
		<wsdl:operation name="Pull">
			<wsdl:input name="Pull"
			wsam:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/Pull" 
			wsaw:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/Pull" 
			message="tns:Pull"/>
			<wsdl:output name="PullResponse"
			wsam:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/PullResponse" 
			wsaw:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/PullResponse" 
			message="tns:PullResponse"/>
		</wsdl:operation>
	</wsdl:portType>


	<wsdl:binding name="WinRMPortBinding" type="tns:WinRMWebService">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<wsdl:operation name="Signal">
			<soap12:operation soapAction="http://schemas.microsoft.com/wbem/wsman/1/windows/shell/Signal" style="document"/>
			<wsdl:input name="Signal">
				<soap12:body use="literal" parts="Signal"/>
				<soap12:header message="tns:Signal" part="ResourceURI" use="literal"/>
				<soap12:header message="tns:Signal" part="MaxEnvelopeSize" use="literal"/>
				<soap12:header message="tns:Signal" part="OperationTimeout" use="literal"/>
				<soap12:header message="tns:Signal" part="Locale" use="literal"/>
				<soap12:header message="tns:Signal" part="SelectorSet" use="literal"/>
			</wsdl:input>
			<wsdl:output name="SignalResponse">
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Receive">
			<soap12:operation soapAction="http://schemas.microsoft.com/wbem/wsman/1/windows/shell/Receive" style="document"/>
			<wsdl:input name="Receive">
				<soap12:body use="literal" parts="Receive"/>
				<soap12:header message="tns:Receive" part="ResourceURI" use="literal"/>
				<soap12:header message="tns:Receive" part="MaxEnvelopeSize" use="literal"/>
				<soap12:header message="tns:Receive" part="OperationTimeout" use="literal"/>
				<soap12:header message="tns:Receive" part="Locale" use="literal"/>
				<soap12:header message="tns:Receive" part="SelectorSet" use="literal"/>
			</wsdl:input>
			<wsdl:output name="ReceiveResponse">
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Delete">
			<soap12:operation soapAction="http://schemas.xmlsoap.org/ws/2004/09/transfer/Delete" style="document"/>
			<wsdl:input name="Delete">
				<soap12:body use="literal" parts="parameters"/>
				<soap12:header message="tns:Delete" part="ResourceURI" use="literal"/>
				<soap12:header message="tns:Delete" part="MaxEnvelopeSize" use="literal"/>
				<soap12:header message="tns:Delete" part="OperationTimeout" use="literal"/>
				<soap12:header message="tns:Delete" part="Locale" use="literal"/>
				<soap12:header message="tns:Delete" part="SelectorSet" use="literal"/>
			</wsdl:input>
			<wsdl:output name="DeleteResponse">
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Create">
			<soap12:operation soapAction="http://schemas.xmlsoap.org/ws/2004/09/transfer/Create" style="document"/>
			<wsdl:input name="Create">
				<soap12:body use="literal" parts="Shell"/>
				<soap12:header message="tns:Create" part="ResourceURI" use="literal"/>
				<soap12:header message="tns:Create" part="MaxEnvelopeSize" use="literal"/>
				<soap12:header message="tns:Create" part="OperationTimeout" use="literal"/>
				<soap12:header message="tns:Create" part="Locale" use="literal"/>
				<soap12:header message="tns:Create" part="OptionSet" use="literal"/>
			</wsdl:input>
			<wsdl:output name="CreateResponse">
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Command">
			<soap12:operation soapAction="http://schemas.microsoft.com/wbem/wsman/1/windows/shell/Command" style="document"/>
			<wsdl:input name="Command">
				<soap12:body use="literal" parts="Body"/>
				<soap12:header message="tns:Command" part="ResourceURI" use="literal"/>
				<soap12:header message="tns:Command" part="MaxEnvelopeSize" use="literal"/>
				<soap12:header message="tns:Command" part="OperationTimeout" use="literal"/>
				<soap12:header message="tns:Command" part="Locale" use="literal"/>
				<soap12:header message="tns:Command" part="SelectorSet" use="literal"/>
				<soap12:header message="tns:Command" part="OptionSet" use="literal"/>
			</wsdl:input>
			<wsdl:output name="CommandResponse">
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Enumerate">
			<soap12:operation soapAction="http://schemas.xmlsoap.org/ws/2004/09/enumeration/Enumerate" style="document"/>
			<wsdl:input name="Enumerate">
				<soap12:body use="literal" parts="Body"/>
			</wsdl:input>
			<wsdl:output name="EnumerateResponse">
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Pull">
			<soap12:operation soapAction="http://schemas.xmlsoap.org/ws/2004/09/enumeration/Pull" style="document"/>
			<wsdl:input name="Pull">
				<soap12:body use="literal" parts="Body"/>
			</wsdl:input>
			<wsdl:output name="PullResponse">
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>


	<wsdl:service name="WinRMWebServiceClient">
		<wsdl:port name="WinRMPort" binding="tns:WinRMPortBinding">
			<soap12:address location="REPLACE_WITH_ACTUAL_URL"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
